<h1>Editing cim_payment</h1>

<% form_for(@cim_payment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :cim_profile_id %><br />
    <%= f.text_field :cim_profile_id %>
  </p>
  <p>
    <%= f.label :product_id %><br />
    <%= f.text_field :product_id %>
  </p>
  <p>
    <%= f.label :transaction_key %><br />
    <%= f.text_field :transaction_key %>
  </p>
  <p>
    <%= f.label :payment_date %><br />
    <%= f.datetime_select :payment_date %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @cim_payment %> |
<%= link_to 'Back', cim_payments_path %>